<section class="w-f-md">
  <section class="hbox stretch main-content"> <!-- side content -->
    <aside class="col-sm-5 no-padder" id="sidebar">
      <section class="vbox animated fadeInUp">
        <section class="scrollable">
          <div class="row">
            <div class="col-md-5 col-sm-6">
              <section class="panel panel-default">
                <header class="panel-heading">
                  <input #searchInput type="text" class="input-md form-control" name="searchText"
                         placeholder="Издөө" (ngModelChange)="search(searchInput.value)" [(ngModel)]="searchText">
                </header>
                <ul class="list-group alt" id="songs" *ngIf="songs" infiniteScroll
                    [infiniteScrollDistance]="2"
                    [infiniteScrollThrottle]="300"
                    (scrolled)="onScrollDown()">
                  <li class="list-group-item" *ngFor="let song of songs; let i = index" class="list-group-item"
                      [ngClass]="{active: playerService.isCurrentSong(song)}">
                    <div class="row">
                      <div class="col-xs-1 col-sm-2" (click)="appService.favourite(song)">
                        <i class="fa fa-heart-o fa-1-5x"></i>
                      </div>
                      <div class="col-xs-3 col-sm-2 ">
                        <span class="pull-left thumb-sm avatar m-r artist-profile">
                            <img alt="{{song.artist_as_one}}" [lazyLoad]="song.profileLocal"
                                 src="http://api-muzyka.aio.kg/uploads/artist/profile/placeholder_one.jpg">
                        </span>
                      </div>
                      <div class="col-xs-5 col-sm-6 no-padder">
                        <div class="vertical-middle"><strong>{{song.title}}</strong></div>
                        <a routerLink="/artist/{{artist.id}}" class="vertical-middle accent-link" *ngFor="let artist of song.artists; let  last=last;">{{artist.name}}<span *ngIf="!last">, </span></a>
                        <div><span class="label label-info" *ngIf="song.is_new">Жаңы</span></div>
                      </div>
                      <div class="col-xs-2 col-sm-2" (click)="play(song, songs,i )">
                        <div class="vertical-middle" >
                          <i class="fa fa-play fa-1-5x text-accent" *ngIf="!playerService.isCurrentSong(song)"></i>
                          <i class="fa fa-pause fa-1-5x text-accent" *ngIf="playerService.isCurrentSong(song)"></i>
                        </div>
                      </div>
                        <div class="col-xs-1 col-sm-2"  (click)="appService.download(song)">
                          <i class="fa fa-download fa-1-5x"></i>
                        </div>
                    </div>
                  </li>
                </ul>
              </section>
            </div>
            <div class="col-md-6 col-sm-6 hidden-xs" id="song-lyrics" *ngIf="playingSong">
              <app-my-songs [song]="playingSong"></app-my-songs>
            </div>
          </div>
        </section>
      </section>
    </aside>
  </section>
</section>
