<section class="panel panel-default">
  <header class="panel-heading">
    <p>{{title}}</p>
    <input #searchInput type="text" class="input-md form-control" name="searchText"
           placeholder="Издөө" [(ngModel)]="songFilter.title">
  </header>
  <ul class="list-group" *ngIf="songs">
    <li class="list-group-item song-list-row-based" *ngFor="let song of songs| filterBy: songFilter; let index = index"
        [ngClass]="{active: playerService.isCurrentSong(song)}">
      <div class="media">
        <span class="pull-left ">
          <a  (click)="appService.favourite(song)">
            <i class="fa fa-heart-o fa-1-5x"></i>
          </a>
          <a  (click)="appService.download(song)">
            <i class="fa fa-download fa-1-5x"></i>
          </a>
        </span>
        <div class="pull-right text-accent m-t-sm" (click)="playerService.play(song, songs,index )">
          <i class="fa fa-play fa-1-5x"
             [ngClass]="{'fa-play': !playerService.isCurrentSong(song), 'fa-pause': playerService.isCurrentSong(song)}"></i>
        </div>
        <div class="media-body">
          <div>
            <strong>{{song.title}}</strong>
          </div>
          <a class="text-muted accent-link" *ngFor="let artist of song.artists; let last=last" routerLink="/artist/{{artist.id}}">{{artist.name}} <span *ngIf="!last">, </span></a>
          <div>
            <span class="label label-info" *ngIf="song.is_new">Жаңы</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
