<section class="main-content">
  <section class="vbox">
    <section class="scrollable">
      <section class="hbox stretch">
        <div class="row">
          <div class="col-md-6">
            <section class="panel panel-default" *ngIf="user">
              <header class="panel-heading font-bold">Сиз тууралуу маалымат</header>
              <div class="panel-body">
                <app-user-form [user]="user" (userUpdated)="handleUserUpdate($event)"></app-user-form>
              </div>
            </section>
          </div>
        </div>
      </section>
    </section>
  </section>
</section>
