<section class="panel panel-default">
  <div class="panel-body">
    <div class="clearfix text-center m-t">
      <div class="inline">
        <div class="easypiechart easyPieChart" data-percent="75" data-line-width="5"
             data-bar-color="#4cc0c1" data-track-color="#f5f5f5" data-scale-color="false"
             data-size="134" data-line-cap="butt" data-animate="1000"
             style="width: 134px; height: 134px; line-height: 134px;">
          <div class="thumb-lg">
            <img [src]="artist.profileLocal" class="img-circle" alt="...">
          </div>
          <canvas width="268" height="268" style="width: 134px; height: 134px;"></canvas>
        </div>
        <div class="h4 m-t m-b-xs">{{artist.name}} {{artist.lastname}}</div>
      </div>
    </div>
  </div>
  <footer class="panel-footer bg-primary text-center">
    <div class="row pull-out">
      <div class="col-xs-6 dk">
        <div class="padder-v"><span class="m-b-xs h3 block text-white">{{artist.numberOfSongs}}</span>
          <small class="text-muted">Ырларым</small>
        </div>
      </div>
      <div class="col-xs-6" *ngIf="artist.instagram">
        <a href="{{artist.instagram}}" target="_blank">
          <div class="padder-v">

                        <span class="m-b-xs h3 block text-white">
                          <i class="fa fa-instagram"></i>
                        </span>
            <small class="text-muted">Инстаграм</small>
          </div>
        </a>
      </div>
    </div>
  </footer>
</section>
