<footer class="footer bg-muzyka dker">
  <div id="jp_container_N">
    <div class="jp-type-playlist">
      <div id="jplayer_N" class="jp-jplayer hide"></div>
      <div class="jp-gui">
        <div class="jp-interface">
          <div class="jp-controls">
            <div><a class="jp-previous" (click)="previous()"><i class="fa fa-backward"></i></a></div>
            <div>
              <a class="jp-play" (click)="play()" [ngClass]="{'hid': playing}">
                <i class="fa fa-play fa-2x"></i>
              </a>
              <a class="jp-pause" (click)="pause(audio.currentTime)" [ngClass]="{'hid': paused}">
                <i class="fa fa-pause fa-2x"></i></a>
            </div>
            <div><a class="jp-next" (click)="next(false)"><i class="fa fa-forward i-lg"></i></a></div>
            <div class="hide"><a class="jp-stop"><i class="fa fa-stop"></i></a></div>
            <div class="jp-progress hidden-xs">
              <div class="jp-seek-bar dk" id="progress-bar" (click)="changeCurrentTime($event)">
                <div class="jp-play-bar bg" [style.width.%]="progressBar"></div>
                <div class="jp-title text-lt" *ngIf="playerService.currentSong">
                  {{playerService.currentSong.artist_as_one}} -
                  {{playerService.currentSong.title}}
                </div>
              </div>
            </div>
            <div class="hdiv classhidden-sm jp-current-time text-xs text-muted">{{currentTime}}</div>
            <div class="hidden-xs hidden-sm jp-duration text-xs text-muted">{{formatTime(audio.duration)}}</div>
            <div class="hidden-xs hidden-sm">
              <a class="jp-mute" title="mute" (click)="toggleMute()" [ngClass]="{'hid': unMuted}">
                <i class="icon-volume-2"></i>
              </a>
              <a class="jp-unmute" title="unmute" (click)="toggleMute()" [ngClass]="{'hid': muted}">
                <i class="icon-volume-off"></i>
              </a>
            </div>
            <div class="hidden-xs hidden-sm jp-volume">
              <div class="jp-volume-bar dk" id="volume-bar" (click)="changeVolume($event)">
                <div class="jp-volume-bar-value lter" [style.width.%]="volume"></div>
              </div>
            </div>
            <div>
              <a class="jp-shuffle" title="shuffle" (click)="shuffle()" [ngClass]="{'hid':random }">
                <i class="icon-shuffle text-muted"></i>
              </a>
              <a class="jp-shuffle-off" title="shuffle off" (click)="shuffle()" [ngClass]="{'hid': notRandom}">
                <i class="icon-shuffle text-lt"></i>
              </a>
            </div>
            <div>
              <a class="jp-repeat" title="repeat" (click)="repeatOrNot()" [ngClass]="{'hid': repeat}">
                <i class="icon-loop text-muted"></i>
              </a>
              <a class="jp-repeat-off" title="repeat off" (click)="repeatOrNot()" [ngClass]="{'hid': notRepeat}">
                <i class="icon-loop text-lt"></i>
              </a>
            </div>
            <div class="hide"><a class="jp-full-screen" title="full screen"><i class="fa fa-expand"></i></a>
              <a class="jp-restore-screen" title="restore screen"><i class="fa fa-compress text-lt"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
