<div class="wrapper-lg">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="row">
        <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Кирүү</h3>
          <p>Ырлар дүйнөсүнө кощ келиңиз.</p>
          <form role="form" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
            <div class="form-group"><label>Электрондук адрес</label>
              <input type="email" class="form-control" name="email" placeholder="muzyka@muzyka.kg"
                     formControlName="email">
            </div>
            <div class="form-group"><label>Купуя сөз</label>
              <input type="password" class="form-control" placeholder="Купуя сөз"
                     name="password" formControlName="password">
            </div>
            <div class="alert alert-danger" *ngIf="errorOccurred">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <i class="fa fa-ban-circle"></i><strong>Купуя сөз</strong> же <strong>электрондук адресиңиз</strong> туура
              эмес. <br/>Кайрадан текшерип көрүңүз
              <a href="#" class="alert-link"></a>
            </div>
            <div class="m-t-lg">
              <button type="submit" class="btn btn-primary btn-block"
                      [disabled]="!loginForm.valid">
                <strong>Кирүү</strong>
              </button>
            </div>
          </form>
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <p class="login-or">ЖЕ</p>
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <a (click)="loginWithFacebook()" class="btn btn-facebook btn-block m-b-sm">
            <i class="fa fa-facebook pull-left"></i>
            <strong>Facebook</strong> менен кирүү
          </a>
          <a (click)="signInWithGoogle()" class="btn btn-danger btn-block">
            <i class="fa fa-google-plus pull-left"></i><strong>Google+</strong> менен кирүү</a>
          <h6>Мүчө эмессизби?</h6>
          <p>Жаңы эсепти <a routerLink="/register" class="text-info">бул</a> жерден ачыңыз</p>
        </div>
      </div>
    </div>
  </div>
</div>
