<section class="w-f-md" id="bjax-target">
  <section class="hbox stretch dker"> <!-- side content -->
    <section class="artists">
      <section class="vbox">
        <section class="scrollable container-fluid">
          <h2 class="font-thin m-b hidden-xs">Ырчылар</h2>
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="form-group">
            <input #searchInput type="text" class="input-md form-control" name="searchText"
                   placeholder="Издөө" [(ngModel)]="songFilter.name">
          </div>
          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="row">
            <div *ngFor="let artist of artists| filterBy: songFilter;" class="col-xs-6 col-sm-4 col-lg-2"
                 infiniteScroll
                 [infiniteScrollDistance]="2"
                 [infiniteScrollThrottle]="300"
                 (scrolled)="onScrollDown()">
              <div class="item">
                <div class="pos-rlt">
                  <a routerLink="/artist/{{artist.id}}" class="artist-link">
                    <img
                         [lazyLoad]="artist.profileLocal"
                         src="http://api-muzyka.aio.kg/uploads/artist/profile/placeholder_one.jpg"

                         class="r r-2x img-full">
                  </a>
                </div>
                <div class="padder-v">
                  <a routerLink="/artist/{{artist.id}}" class="artist-link">
                    {{artist.name}} {{artist.lastname}}
                  </a>
                  <p class="text-ellipsis text-xs text-muted">Ырларым <span class="badge bg-info pull-right">{{artist.numberOfSongs}}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </section>
  </section>
</section>
