<section class="vbox">
  <section class="scrollable padder-lg w-f-md" id="bjax-target">
    <div class="row">
      <div class="col-md-4">
        <h3 class="font-thin">Эң популярлуу ырлар</h3>
        <ul class="list-group bg-white list-group-lg no-bg auto">
          <li class="list-group-item clearfix discover-song" *ngFor="let song of topSongs; let index=index;"
              [ngClass]="{active: playerService.isCurrentSong(song)}">

            <div class="row">

              <div class="col-md-2">
                <span class="pull-right h2 text-muted m-l">{{index + 1}}</span>
              </div>

              <div class="col-md-2">
            <span class="pull-left thumb-sm avatar m-r">
              <img src="http://api-muzyka.aio.kg/uploads/artist/profile/placeholder_one.jpg" [lazyLoad]="song.profileLocal"
                   alt="...">
              </span>
              </div>

              <div class="col-md-6">
                <span class="clear"></span>
                <span>{{song.title}}</span>
                <a  *ngFor="let artist of song.artists;" class="accent-link text-ellipsis" href="" routerLink="/artist/{{artist.id}}">
                  {{artist.name}}
                </a>
              </div>

              <div class="col-md-2">
                <div class="vertical-middle" (click)="playerService.play(song,topSongs,index)">
                  <i class="fa fa-play fa-1-5x text-accent" *ngIf="!playerService.isCurrentSong(song)"></i>
                  <i class="fa fa-pause fa-1-5x text-accent" *ngIf="playerService.isCurrentSong(song)"></i>
                </div>
              </div>
              <div class="col-xs-1 col-sm-2"  (click)="appService.download(song)">
                <i class="fa fa-download fa-1-5x"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-8">
        <h3 class="font-thin" *ngIf="discoverSongs"><a routerLink="/randomsongs">Ырлар дүйнөсүндө ачылыш жасаңыз</a>
        </h3>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <app-song-list [songs]="discoverSongs"></app-song-list>
        <h3 class="font-thin" *ngIf="newSongs"><a routerLink="/newsongs">Жаңы ырлар</a></h3>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <app-song-list [songs]="newSongs"></app-song-list>
      </div>
    </div>
  </section>
</section>
